* {
    font-family: Verdana;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-bar {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(49, 103, 175);
    padding: 25px 40px;
    z-index: 1;
}

.nav-logo {
    text-decoration: none;
}

.logo-text {
    color: white;
    font-size: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 50px;
}

.nav-links .login-btn {
    color: rgb(26, 55, 134);
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(26, 55, 134);
}

.nav-links .signup-btn {
    color: rgb(26, 55, 134);
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(26, 55, 134);
}

.nav-links .login-btn:hover {
    background-color: rgb(26, 55, 134);
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
}

.nav-links .signup-btn:hover {
    background-color: rgb(26, 55, 134);
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
}

/* Main Part */

.entry-page {
    min-height: 100vh; 
    display: flex;
    justify-content: center; 
    align-items: center;    
    text-align: center;     
    position: relative;
    color: white;
    padding: 20px;
    overflow: hidden;
}

.entry-page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: url("/images/searchBG.jpg") no-repeat center center;
    background-size: cover;
    filter: blur(8px) brightness(60%);
    z-index: -1; 
}

.text-container {
    max-width: 800px;
    z-index: 1; 
}

.text-container h4 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #ffffff;
}

.text-container h1 {
    font-size: 50px;
    margin-bottom: 30px;
    line-height: 1.5;
}

.text-container p {
    font-size: 18px;
    margin-bottom: 35px;
    color: #f0f0f0;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.login-btn2, .signup-btn2 {
    text-decoration: none;
    font-weight: bold;
    padding: 15px 60px;
    border-radius: 50px;
    transition: all 0.3s ease;
    font-size: 16px;
}

.login-btn2 {
    color: white;
    background-color: rgb(49, 103, 175);
    border: 2px solid white;
}

.login-btn2:hover {
    background-color: white;
    color: rgb(49, 103, 175);
    border-color: rgb(49, 103, 175);
}

.signup-btn2 {
    color: white;
    background-color: rgb(49, 103, 175);
    border: 2px solid white;
}

.signup-btn2:hover {
    background-color: white;
    color: rgb(49, 103, 175);
    border-color: rgb(49, 103, 175);
}


