/* NAVBAR */

* {
    font-family: Verdana;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(49, 103, 175);
    padding: 25px 40px;
    z-index: 1000;
}

.nav-logo {
    text-decoration: none;
}

.logo-text {
    color: white;
    font-size: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 15px;
    color: white;
    border-radius: 50px;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    border-style: solid;
    border-color: rgb(26, 55, 134);
    border-width: 2px;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 120%;
    right: 0;
    background-color: white;
    border-radius: 10px;
    min-width: 180px;
    list-style: none;
    padding: 8px 0;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);

    opacity: 0%;
    visibility: hidden;
    transform: translate(10px);
    transition: 0.2s ease;
    z-index: 999;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translate(0);
}

.dropdown-menu li a {
    display: block;
    padding: 10px 15px;
    color: rgb(26, 55, 134);
    font-size: 14px;
    border-radius: 0;
}

.dropdown-menu li a:hover {
    background-color: rgba(49, 103, 175, 0.1);
}

.dropdown-pfp {
    position: relative;   
    list-style: none;
}

.dropdown-pfp img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
}

.dropdown-pfp:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-pfp .dropdown-menu li a {
    display: block;
    padding: 10px 15px;
    color: rgb(26, 55, 134);
    text-decoration: none;
    font-size: 14px;
}

.dropdown-pfp .dropdown-menu li a:hover {
    background-color: rgba(49, 103, 175, 0.1);
}

/* End of NAV */

.restaurant-header {
    position: relative;
    width: 100%;
    height: 400px;
    margin-top: 90px;
    overflow: hidden;
}

.restaurant-header::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("/images/crisostomo.jpg") center/cover no-repeat;
    filter: blur(6px);
    transform: scale(1.05);
    z-index: 1;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    z-index: 2;
}

.restaurant-name {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 30px;
}

.restaurant-location {
    font-size: 20px;
    margin-bottom: 15px;
}

.rating {
    font-size: 20px;
    margin-bottom: 25px;
    display: inline-block;
    background-color: rgba(255,255,255,0.2);
    padding: 5px 10px;
    border-radius: 10px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.btn {
    padding: 20px 25px;
    font-size: 17px;
    border-radius: 20px;
    cursor: pointer;
    background-color: rgb(49, 103, 175);
    color: white;
    font-weight: bold;
    border: none;     
    outline: none;        
}

.btn:hover {
    background-color: white;
    color: rgb(49, 103, 175);
}

/* For the reviews */

.reviews-section {
    padding: 50px 80px;
    background-color: white;
}

.reviews-title {
    font-size: 28px;
    margin-bottom: 30px;
    color: rgb(49, 103, 175);
}

.review-card {
    display: flex;
    gap: 20px;
    background: rgb(44, 84, 136);
    padding: 20px 25px;
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    position: relative;
}

.review-pfp {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid rgb(255, 255, 255);
}

.review-content {
    flex: 1;
}

.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.review-name {
    color: white;
    font-weight: bold;
    font-size: 16px;
}

.review-stars {
    font-size: 16px;
}

.review-text {
    font-size: 14px;
    color: white;
    margin-bottom: 12px;
    line-height: 1.5;
}

.helpful-btn {
    background-color: white;
    border: 2px solid rgb(8, 50, 105);
    color: rgb(8, 46, 95);
    padding: 6px 14px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.2s ease;
}

.helpful-btn:hover {
    background: rgb(96, 135, 187);
    color: white;
}

.helpful-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.helpful-count {
    font-size: 12px;
    color: white;
}

.gallery-section {
    width: 100%;
    max-width: 90%;  
    margin: 5px auto 40px; 
    padding: 0 40px;  
}

.gallery-title {
    font-size: 26px;
    margin-bottom: 25px;
    color: rgb(49, 103, 175);
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.gallery-grid img {
    width: 100%;
    height: 260px;    
    object-fit: cover;
    border-radius: 14px;
    transition: 0.25s;
    cursor: pointer;
}

