/* NAVBAR */

* {
    font-family: Verdana;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(49, 103, 175);
    padding: 25px 40px;
    z-index: 1000;
}

.nav-logo {
    text-decoration: none;
}

.logo-text {
    color: white;
    font-size: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 15px;
    color: white;
    border-radius: 50px;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    border-style: solid;
    border-color: rgb(26, 55, 134);
    border-width: 2px;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 120%;
    right: 0;
    background-color: white;
    border-radius: 10px;
    min-width: 180px;
    list-style: none;
    padding: 8px 0;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);

    opacity: 0%;
    visibility: hidden;
    transform: translate(10px);
    transition: 0.2s ease;
    z-index: 999;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translate(0);
}

.dropdown-menu li a {
    display: block;
    padding: 10px 15px;
    color: rgb(26, 55, 134);
    font-size: 14px;
    border-radius: 0;
}

.dropdown-menu li a:hover {
    background-color: rgba(49, 103, 175, 0.1);
}

.dropdown-pfp {
    position: relative;   
    list-style: none;
}

.dropdown-pfp img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
}

.dropdown-pfp:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-pfp .dropdown-menu li a {
    display: block;
    padding: 10px 15px;
    color: rgb(26, 55, 134);
    text-decoration: none;
    font-size: 14px;
}

.dropdown-pfp .dropdown-menu li a:hover {
    background-color: rgba(49, 103, 175, 0.1);
}

/* ADD CSS HERE */

main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-top: 90px; 
}

.top-section {
    position: relative;
    height: 40vh;
    overflow: hidden;
}

.top-section::before {
    content: "";
    position: absolute;
    inset: 0;
    background: url("/images/searchBG.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    transform: scale(1.05);
    z-index: 0;
}

.top-overlay {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.search-container {
    background: white;
    padding: 15px 20px;
    border-radius: 50px;
    display: flex;
    gap: 10px;
    width: 500px;
    max-width: 90%;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);

}

.search-container input {
    flex: 1;
    border: none;
    font-size: 16px;
    padding: 10px;
    outline: none;
}

.search-container button {
    border: none;
    background-color: rgb(49, 103, 175);
    color: white;
    font-family: Verdana;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
}

.search-container button:hover {
    background: rgb(26, 55, 134);
}

.about-section {
    display: flex;
    min-height: 60vh;
}

.about-left, .about-right {
    flex: 1;
}

.about-left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-right {
    padding: 80px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #f7f9fc;
}

.about-right h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: rgb(49, 103, 175);
}

.about-right p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}
