/* NAVBAR */

* {
    font-family: Verdana;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(49, 103, 175);
    padding: 25px 40px;
    z-index: 1000;
}

.nav-logo {
    text-decoration: none;
}

.logo-text {
    color: white;
    font-size: 20px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 15px;
    color: white;
    border-radius: 50px;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    border-style: solid;
    border-color: rgb(26, 55, 134);
    border-width: 2px;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 120%;
    right: 0;
    background-color: white;
    border-radius: 10px;
    min-width: 180px;
    list-style: none;
    padding: 8px 0;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);

    opacity: 0%;
    visibility: hidden;
    transform: translate(10px);
    transition: 0.2s ease;
    z-index: 999;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translate(0);
}

.dropdown-menu li a {
    display: block;
    padding: 10px 15px;
    color: rgb(26, 55, 134);
    font-size: 14px;
    border-radius: 0;
}

.dropdown-menu li a:hover {
    background-color: rgba(49, 103, 175, 0.1);
}

.dropdown-pfp {
    position: relative;   
    list-style: none;
}

.dropdown-pfp img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
}

.dropdown-pfp:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.dropdown-pfp .dropdown-menu li a {
    display: block;
    padding: 10px 15px;
    color: rgb(26, 55, 134);
    text-decoration: none;
    font-size: 14px;
}

.dropdown-pfp .dropdown-menu li a:hover {
    background-color: rgba(49, 103, 175, 0.1);
}

/* Start of main CSS */

html, body {
    height: 100%;
    margin: 0;
    background-color: white;
}


.view-container {
    padding-top: 90px;
    padding-bottom: 10px; 
    min-height: 100vh;
    width: 100%;
    margin: 0;
    background: rgb(255, 255, 255);
    position: relative;   
    overflow: hidden; 
}

.view-container::before {
    content: "";
    position: absolute;
    inset: 0;

    background: url("/images/resto.webp"); 
    background-size: cover;
    background-position: center;

    filter: blur(8px);
    transform: scale(1.05); 
    z-index: 0;
}

.view-container::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.55);
    z-index: 0;
}

/* Put everything above the bg */
.view-container > * {
    position: relative;
    z-index: 1;
}

.top-section {
    position: relative;
    height: 140px;
    overflow: hidden;
}


.top-container {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center
}


.search-container {
    background: white;
    padding: 15px 20px;
    border-radius: 50px;
    display: flex;
    gap: 10px;
    width: 500px;
    max-width: 90%;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.search-container input{
    flex: 1;
    border: none;
    font-size: 16px;
    padding: 10px;
    outline: none;
}

.search-bar {
    width: 400px;
    padding: 12px;
    font-family: Verdana;
    font-size: 16px;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.search-btn {
    padding: 12px 20px;
    border: none;
    font-family: Verdana;
    background: rgb(49, 103, 175);
    color: white;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

.search-btn:hover {
    padding: 12px 20px;
    border: none;
    font-family: Verdana;
    background: rgb(26, 55, 134);
    color: white;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

.restaurant-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    width: 90%;          
    margin: 40px auto;
}

.restaurant-card {
    background: rgb(44, 84, 136);
    border-radius: 14px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    padding: 15px;
    text-align: center;
    transition: 0.2s;
}

.restaurant-card:hover {
    transform: translateY(-5px);
}

.restaurant-card img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 10px;
}

.restaurant-card h3 {
    margin: 15px 0 10px;
    font-size: 20px;
    color: white;
}

.view-btn {
    padding: 10px 16px;
    border: none;
    background: rgb(255, 255, 255);
    color: rgb(49, 103, 175);
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

.view-btn:hover {
    padding: 10px 16px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    background: rgb(26, 55, 134);
    color: white;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
}

.restaurant-card h2 {
    color: white;
    padding-top: 10px;
    font-size: 18px;
}
